Package: com.minazuki.acf
Name: AutoCloseFolder
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: Automatically close folders.
Depiction: https://minazukidev.github.io/html/AutoCloseFolder/index.html
Maintainer: Minazuki <minazukidev@gmail.com>
Author: Minazuki <minazukidev@gmail.com>
Section: Tweaks
